.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;
    padding: 40px 30px;
    width: 18%;
    height: 100vh;
    background: #1E1E1E;
    color: white;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}
.navbar .logo{
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
}
nav ul li{
    margin-bottom: 24px;
}
nav ul li a{
    text-align: center;
    list-style: none;
    color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
}

nav ul li a img{
    margin-right: 12px;
    padding: 8px;
}
.active{
    color:  var(--maincolor);
}
.active img{
    background: var(--maincolor);
    border-radius: 100%;
}
.navbar .medsos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar .medsos a img{
    padding: 6px;
    width: 30px;
    background: #fff;
    border-radius: 100%;
    cursor: pointer;
    transition: .3s ease;
}
.navbar .medsos a img:hover{
    background: #1E1E1E;
}